@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Rancho&display=swap');

/* ------ Generic ------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.form-page {
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    color: #F5F9FF;
}

.image {
    background: url('../images/villa-pietra2.png') no-repeat fixed;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.image__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.page-container {
    display: flex;
    justify-content: center;
    width: 1700px;
    height: 950px;
}

.logo {
    font-family: 'Rancho', sans-serif;
    font-size: 36px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 730px;
    height: 365px;
}

.text {
    font-weight: 600;
    font-size: 100px;
}

.text--small{
    font-weight: 600;
    font-size: 36px;
    padding-left: 5px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 930px;
}