@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Rancho&display=swap');

/* ------ Generic ------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.form-page {
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    color: #F5F9FF;
}

/* ------ Background Image ------ */


.image {
    background-image: linear-gradient(
        70deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.9)
    ),
    url('../images/villa-pietra2.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------ Containers ------ */

.page-container {
    display: flex;
    width: 87%;
    height: 88%;
    justify-content: space-around;
}

.text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 55%;
    height: 40%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
}

/* ------ Logo ------ */


.logo {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Rancho', sans-serif;
    font-size: 26px;
}

/* ------ Heading ------ */


.heading {
    font-weight: 600;
    font-size: 70px;
    padding-bottom: 15px;
}

.heading--small{
    font-weight: 600;
    font-size: 26px;
    padding-left: 5px;
}

/* ------ Form ------ */

